.header-container {
  background-color: #242c3c;
}

.upper-index {
  z-index: 999;
}

.video-bg {
  width: 100%;
  height: 92.63vh;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.bg-overlay {
  width: 100%;
  height: 92.63vh;
  z-index: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
}

.space-band {
  height: 4.5vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-heading {
  font-family: co-text;
  font-size: clamp(30px, 40vw, 60px);
  font-weight: 800;
  text-align: center;
}

.header-subtitle {
  font-family: co-text;
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.balam-logo-image-container {
  max-width: clamp(250px, 60vw, 400px);
  width: 500px;
  padding: 10px 10px 30px 10px;
  z-index: 999;
}

.aboutus-text {
  margin-top: 30px;
  font-family: co-text;
  font-size: 20px;
  text-align: center;
  padding-right: clamp(1.5rem, 2.5vw, 5rem);
  padding-left: clamp(1.5rem, 2.5vw, 5rem);
}

/* =============== */

.question-subtitle {
}
