@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700;800&display=swap");

/* .LogoGear {
  animation: spin 7s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.active {
  color: rgb(101, 207, 229);
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: JetBrains Mono;
  font-weight: 600;
  transition: 0.3s;
}

.inactive {
  color: white;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: JetBrains Mono;
  font-weight: 600;
  transition: 0.3s;
}

.inactive:hover {
  color: rgb(101, 207, 229);
  font-size: 17px;
  transition: 0.3s;
}

.activeMobile {
  color: rgb(101, 207, 229);
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: JetBrains Mono;
  font-weight: 600;
  transition: 0.3s;
}

.inactiveMobile {
  color: white;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: JetBrains Mono;
  font-weight: 600;
  transition: 0.3s;
}
 */

.box-logo-balam {
  animation: box-logo-balam 7s linear infinite;
}

@keyframes box-logo-balam {
  100% {
    transform: rotate(360deg);
  }
}

.active {
  color: rgb(101, 207, 229);
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: JetBrains Mono;
  font-weight: 600;
  transition: 0.3s;
}

.inactive {
  color: white;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: JetBrains Mono;
  font-weight: 600;
  transition: 0.3s;
}

.inactive:hover {
  color: rgb(101, 207, 229);
  transition: 0.3s;
}
